/*

	Made by Alexander Bl.
	For Endless Hosting

*/

:root {
	--sideBarWidth: 200px;
	
	/* Color Variables */
	--mainColor-500: #4CAF50;
	--mainColor-600: #43A047;
	--mainColor-700: #388E3C;
	--mainColor-800: #2E7D32;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: var(--mainColor-600);
}

::-webkit-scrollbar-thumb {
	background: var(--mainColor-700);
	border-radius: 100px;
}

html,body {
	background-color: #191919;
	color: white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 24px;
	overflow-x: hidden;
	padding: 0;
	position: relative;
	overflow-anchor: none;
}

body {
	overflow-y: hidden;
}

:focus {
	outline: none;
}

.noScroll {
	overflow-y: hidden;
}

.navBar,.sideBar,.hero,.infoContainer h4,.plansContainer h3,.plansContainer,.footer {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.navBar {
	width: calc(100% - 32px);
	background-color: var(--mainColor-700);
	position: fixed;
	font-weight: bold;
	height: 56px;
	line-height: 56px;
	padding: 0 16px;
	white-space: nowrap;
	z-index: 10;
}

.menu {
	display: none;
	width: 42px;
	height: 42px;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	margin-right: 5px;
}

.sideBarContainer {
	display: none;
	width: 200%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -225px;
	z-index: 15;
	transition: .7s;
}

.contentDarken {
	background-color: rgba(0,0,0,.35);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.sideBar {
	width: var(--sideBarWidth);
	height: 100%;
	background-color: var(--mainColor-600);
	overflow-y: auto;
}

.sideBar h1 {
	width: calc(var(--sideBarWidth) - 32px);
	height: 56px;
	line-height: 56px;
	padding: 0 16px;
	display: block;
	background-color: var(--mainColor-700);
	display: block;
	font-size: 22px;
	font-weight: 300;
}

.sideBar a {
	width: calc(var(--sideBarWidth) - 32px);
	height: 42px;
	line-height: 42px;
	padding: 0 16px;
	color: white;
	text-decoration: none;
	font-size: 22px;
	display: block;
}

.sideBar .active {
	width: calc(var(--sideBarWidth) - 32px - 2px);
	background-color: rgba(255,255,255,.05);
	border-left: 2px solid white;
}

.sideBarClose {
	width: calc(100% - var(--sideBarWidth));
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.animateOpenOpacity {
	animation: opacityOpen .7s linear;
}

@keyframes opacityOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animateCloseOpacity {
	animation: opacityClose 1.1s linear;
}

@keyframes opacityClose {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.openAnimation {
	left: 0;
}

.navBar .logo {
	display: inline-block;
	margin: 0;
	font-size: 24px;
	font-weight: 300;
}

.navBar .eh-menu {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	pointer-events: none;
}

.navBar .links {
	display: inline-block;
	float: right;
}

.navBar .links a {
	font-weight: normal;
	font-size: 20px;
	padding: 0 6px;
	display: inline-block;
}

.navBar .active {
	border-bottom: 2px solid white;
	height: 53px;
}

a {
	text-decoration: none;
	color: white;
	-webkit-tap-highlight-color: transparent;
}

.button {
	width: 120px;
	height: 36px;
	line-height: 38px;
	background-color: var(--mainColor-800);
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin: 0 8px;
	border-radius: 100px;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.button:hover {
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.borderButton {
	line-height: 33px;
	background-color: transparent;
	border: 2px solid var(--mainColor-800);
}

.heroContainer {
	height: 100vh;
	min-height: 390px;
	position: relative;
	text-align: center;
}

.hero {
	background-color: var(--mainColor-600);
	width: calc(100% - 32px);
	height: 80vh;
	min-height: 200px;
	position: absolute;
	text-align: center;
	padding: 0 16px;
	padding-top: 56px;
}

.heroHelper {
	background-color: var(--mainColor-600);
	width: 105%;
	height: 400px;
	transform: rotate(2deg);
	position: absolute;
	bottom: 3.25vh;
	right: -2%;
}

.header {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header h1 {
	margin: 0 0 10px 0;
	font-size: 46px;
	font-weight: 300;
}

.header span {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
}

@media screen and (max-width: 358px) {
	.hero {
		padding: 56px 0 0 0;
		width: 100%;
	}
	.header h1 {
		font-size: 44px;
	}
}

.infoContainer {
	position: relative;
	padding-top: 16px;
	text-align: center;
}

.infoContainer h4,.plansContainer h3 {
	color: var(--mainColor-800);
	margin: 0 0 5px 0;
}

.infoContainer p {
	font-size: 22px;
	margin: 0 0 15px 0;
}

.about {
	display: inline-block;
	width: 30%;
	height: 150px;
	vertical-align: top;
}

@media screen and (max-width: 980px) {
	.about {
		width: 95%;
		height: auto;
		padding: 15px 0 20px 0;
	}
}

.plan {
	display: inline-block;
	width: 230px;
	margin: 20px 15px 0 15px;
	transition: .4s ease-out;
}

.plan:nth-of-type(2) {
	transform: scale(1.05) translateY(-8px);
}

.plan:hover {
	transform: translateY(-10px);
}

.plan:nth-of-type(2):hover {
	transform: scale(1.05) translateY(-15px);
}

@media screen and (max-width: 791px) {
	.plan:nth-of-type(2) {
		transform: none;
	}
	.plan:nth-of-type(2):hover {
		transform: translateY(-10px);
	}
}

.planName {
	height: 50px;
	line-height: 50px;
	background-color: var(--mainColor-600);
	border-radius: 5px 5px 0 0;
}

.planFeatures {
	background-color: #171717;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.planFeatures span {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.ssh {
	color: var(--mainColor-600);
}

.planPrice {
	padding: 6px 0;
	background-color: var(--mainColor-600);
	border-radius: 0 0 5px 5px;
}

.planPrice span {
	display: block;
	padding-bottom: 3px;
	font-size: 20px;
}

.planPrice .button {
	-webkit-box-shadow: none;
	box-shadow: none;
}

small {
	font-size: small;
}

.footerContainer {
	position: relative;
	height: 250px;
}

.footerHelper {
	background-color: var(--mainColor-600);
	width: 105%;
	height: 50px;
	transform: rotate(-1deg);
	position: relative;
	top: 10%;
	right: 2%;
}

.footer {
	width: calc(100vw - 32px);
	height: 200px;
	position: absolute;
	bottom: 0;
	background-color: var(--mainColor-600);
	padding: 0 16px;
	text-align: center;
}

.footer h3 {
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 10px 0;
}

.footer h4 {
	width: 250px;
	font-weight: normal;
	margin: 10px auto;
	border-bottom: 2px solid white;
}

.footer .eh {
	margin: 0 8px;
}

.footer .wrap {
	display: inline-block;
	margin: 0 32px;
}

.linkWrap {
	display: inline-block;
	margin: 0 2.5px;
	width: 80px;
}

.linkWrap p {
	margin: 0;
	font-size: 18px;
}

.signUpPage .heroContainer {
	height: 300px;
	min-height: 0;
}

.signUpPage .heroContainer {
	height: 350px;
	min-height: 0;
}

.signUpPage .hero {
	height: 200px;
	min-height: 0;
}

.copyright {
	font-size: 16px;
	position: absolute;
	margin: 0;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.input .label {
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 600px) {
	.menu,.sideBarContainer {
		display: inline-block;
	}
	.navBar {
		width: calc(100% - 22px);
		padding: 0 16px 0 7px;
	}
	.navBar .links {
		display: none;
	}
	.heroHelper {
		bottom: 2vh;
	}
	.footerContainer {
		height: 325px;
	}
	.footer {
		height: 250px;
	}
	.footer h3 {
		font-size: 22px;
	}
	.footer .wrap {
		display: block;
		margin: 16px auto;
	}
	.linkWrap {
		width: auto;
	}
	.linkWrap p {
		display: none;
	}
}

.hideSideBar {
	display: none;
}