/*

	Endless Hosting

*/

::-webkit-scrollbar-track {
    background: #43A047;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #388E3C;
	border-radius: 100px;
	border: 2px #43A047 solid;
}

html,body {
	background-color: #191919;
	color: white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 24px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}

body::-webkit-scrollbar {
    width: 0;
}

:focus {
	outline: none;
}

.navBar {
	width: calc(100% - 32px);
	background-color: #388E3C;
	position: fixed;
	font-weight: bold;
	height: 56px;
	line-height: 56px;
	padding: 0 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 10;
}

.menu {
	display: none;
	width: 42px;
	height: 42px;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	margin-right: 5px;
}

@media screen and (max-width: 600px) {
	.menu {
		display: inline-block;
	}
	.navBar {
		width: calc(100% - 22px);
		padding: 0 16px 0 6px;
	}
}

.navBar h1 {
	display: inline-block;
	margin: 0;
	font-size: 24px;
	font-weight: 300;
}

.navBar .eh-menu {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.button {
	background-color: transparent;
	display: inline-block;
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
	letter-spacing: .5px;
	margin: 0 8px;
	border-radius: 100px;
	font-weight: normal;
	width: 120px;
	height: 36px;
	font-size: 16px;
	text-decoration: none;
	color: white;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.button:hover {
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.normalButton {
	background-color: #2E7D32;
	line-height: 38px;
}

.borderButton {
	width: 116px;
	height: 32px;
	line-height: 34px;
	border: 2px solid #2E7D32;
}

.heroContainer {
	height: calc(105vh - 50px);
	position: relative;
	text-align: center;
}

.hero {
	background-color: #43A047;
	height: calc(80vh - 56px);
	position: absolute;
	width: calc(100% - 32px);
	text-align: center;
	padding: 0 16px;
}

.heroHelper {
	background-color: #43A047;
	width: 105%;
	height: 30vh;
	transform: rotate(3deg);
	position: absolute;
	top: 85%;
	right: -2%;
}

.header {
	position: relative;
	top: 45%;
	z-index: 2;
}

.header h1 {
	margin: 10px 0;
	font-size: 46px;
}

.header span {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}

.more {
	font-size: 42px;
	position: relative;
	top: 85%;
	opacity: .5;
	-webkit-animation: more 1.7s linear infinite;
	-moz-animation: more 1.7s linear infinite;
	-o-animation: more 1.7s linear infinite;
	animation: more 1.7s linear infinite;
}

@-webkit-keyframes more {
	0% {top: 80%;opacity: 0;}
	15% {top: 80%;opacity: 0;}
	50% {top: 83%;opacity: .5;}
	85% {top: 86%;opacity: 0;}
	100% {top: 86%;opacity: 0;}
}

@-moz-keyframes more {
	0% {top: 80%;opacity: 0;}
	15% {top: 80%;opacity: 0;}
	50% {top: 83%;opacity: .5;}
	85% {top: 86%;opacity: 0;}
	100% {top: 86%;opacity: 0;}
}

@-o-keyframes more {
	0% {top: 80%;opacity: 0;}
	15% {top: 80%;opacity: 0;}
	50% {top: 83%;opacity: .5;}
	85% {top: 86%;opacity: 0;}
	100% {top: 86%;opacity: 0;}
}

@keyframes more {
	0% {top: 80%;opacity: 0;}
	15% {top: 80%;opacity: 0;}
	50% {top: 83%;opacity: .5;}
	85% {top: 86%;opacity: 0;}
	100% {top: 86%;opacity: 0;}
}

.infoContainer {
	text-align: center;
}

.infoContainer h4 {
	color: #2E7D32;
	margin: 0 0 10px 0;
}

.infoContainer p {
	font-size: 22px;
	margin: 0 0 10px 0;
}

.about,.services,.partner {
	display: inline-block;
	width: 30%;
	height: 150px;
	vertical-align: top;
}

@media screen and (max-width: 980px) {
	.about,.services,.partner {
		width: 95%;
		height: auto;
		padding: 15px 0 20px 0;
	}
}

.try .button {
	margin-bottom: 25px;
}